* {
    margin: 0;
    padding: 0;
}

.header-self-description {
  font-size: 16px;
}

body {
    background-color: rgb(29, 0, 63);
    color: #F5EFFF;
    font-family: Arial;
    font-size: 48px;
  }
  
img {
  width: 100%;
  height: auto;
}

.main-div {
  display: flex;
  justify-content: left;
}

.left-sidebar {
  padding-left: 12px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
}


/*background-image: radial-gradient(circle, #5013dd, #8121e8);*/
