* {
  margin: 0;
  padding: 0;
}

.header-self-description {
  font-size: 16px;
}

body {
  /*background-color: #2B115D;*/
  /*background-color: rgb(44, 17, 93);*/
  background-color: rgb(29, 0, 63);
  color: #F5EFFF;
  font-family: Arial;
  font-size: 48px;
  
}

img {
  width: 100%;
  height: auto;
}


/*background-image: radial-gradient(circle, #5013dd, #8121e8);*/
