* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #2B115D;*/
  background-color: #0B115D;
  color: #F5EFFF;
  font-family: Arial;
  font-size: 48px;
  
}

img {
  width: 100%;
  height: auto;
}


/*background-image: radial-gradient(circle, #5013dd, #8121e8);*/
