* {
  margin: 0;
  padding: 0;
}

body {
  /*background-color: #2B115D;*/
  /*background-color: rgb(44, 17, 93);*/
  background-color: rgb(150, 17, 93);
  color: #F5EFFF;
  font-family: Arial;
  font-size: 48px;
  
}

img {
  width: 90%;
  height: auto;
}


/*background-image: radial-gradient(circle, #5013dd, #8121e8);*/
